<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TCRegistry</title>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "items" %>
      <!-- jQuery -->
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "item.js" %>


</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-3">
              <div class="row">
                <span class="lead text-center col-xs-12">Categories</span>
              </div>
              <div class="row">
                <div id="categoryList" class="list-group">
                  <% @categories.each do |category| %>
                    <button id="<%= category.id %>" onclick="clickedCategory(this)" class="btn text-center col-xs-12 category-name"><%= category.name %></button>
                  <% end %>
                </div>
              </div>
              <div class="row" id="registryInfo">
                <h3>Welcome to our registry!</h3>
                <p>
                  Instead of choosing a specific store and specific items we decided to create our own list on here. We hope that this system will give you more options for where you get the items and how much you spend, while also allowing other guests to see what's already been purchased.
                </p>
                <p>
                  How it works is you click the "I'll get this!" button on whichever item you decide to get. 
                  From there you enter the code that's on the bottom left corner of the invitation and click okay. 
                  This action cannot be undone, however if you change your mind about what you'll be getting or run into any issues with the site, simply contact Thomas either via facebook or email: rsvp@thomasmarriescharlotte.ca
                </p>
                <p>
                  Thanks and have fun!
                </p>
              </div>
            </div>

            <div class="col-md-9 col-xs-12 container">
              <div class="row">
              <ul id="itemList">
                <% if @items.nil? == false
  		            @items.each do |item|
                    if (item.needed - item.pledged) > 0 %>
                      <li id="item-<%= item.id %>" class="col-sm-4 col-lg-4 col-md-4 item">
                        <div class="thumbnail">
                          <%= image_tag(item.picture)%>
                          <div class="caption">
                            <h5 class="pull-right">
                              Desired: <span id="needed-<%= item.id %>"><%= item.needed %></span><br>
                              Claimed: <span id="pledged-<%= item.id %>"><%= item.pledged %></span>
                            </h5>
                            <h5 class="pull-right"></h5>
                            <h4 class="item-name">
                              <%= item.name %>
                            </h4>
                            <p class="item-description"><%= item.description %></p>
                            <div id="itemControl" class="row text-center">
                              <span id="<%= item.id %>" onclick="claimItem(this)" class="close claim">I&apos;ll get this!</span>
                            </div>
                          </div>
                        </div>
                      </li>
                    <% else %>
                      <li id="item-<%= item.id %>" class="col-sm-4 col-lg-4 col-md-4 item">
                        <div class="thumbnail">
                          <%= image_tag(item.picture, class: "claimed")%>
                          <div class="caption">
                            <h5 class="pull-right">
                              Desired: <span id="needed-<%= item.id %>"><%= item.needed %></span><br>
                              Claimed: <span id="pledged-<%= item.id %>"><%= item.pledged %></span>
                            </h5>
                            <h4 class="item-name">
                              <%= item.name %>
                            </h4>
                            <p class="item-description"><%= item.description %></p>
                            <div id="itemControl" class="row text-center claimed">
                              <span id="<%= item.id %>" class="close claimed">I&apos;m claimed!</span>
                            </div>
                          </div>
                        </div>
                      </li>
                   <%end
                  end
		            end %>
                </ul>
              </div>
            </div>
        </div>
    </div>
    <div id="registryModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Welcome to our registry!</h2>
          </div>
          <div class="modal-body">
            <p>
              Hey!
            </p>
            <p>
              Instead of choosing a specific store and specific items we decided to create our own list on here. We hope that this system will give you more options for where you get the items and how much you spend, while also allowing other guests to see what's already been purchased.
            </p>
            <p>
              How it works is you click the "I'll get this!" button on whichever item you decide to get. 
              From there you enter the code that's on the bottom left corner of the invitation and click okay. 
              This action cannot be undone, however if you change your mind about what you'll be getting or run into any issues with the site, simply contact Thomas either via facebook or email: rsvp@thomasmarriescharlotte.ca
            </p>
            <p>
              Thanks and have fun!
            </p>
            <div class="row">
              <div class="container modal-footer col-xs-12">
                <button id="invitationClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>
